/* Video Play Page */
.video-title {
	color: rgb(51,181,229);
}
.video-options {
	margin-top: 10px;
}
#favoriteForm {
	margin-left: 4%;
	display: inline;

}
#playlistForm {
	margin-left: 2%;
	display: inline;

}
#createPlaylistForm {
	margin-top: 10px;
	margin-left: 4%;
}

/* Upload Form */
.upload-form #id_description {
	width: 50%;
}