{% extends "base.html" %}

{% block title %}
<title>{{ username }}'s profile</title>
{% endblock %}

{% block main_content %}

	{% if user_owns_profile %}
	  <h6>Hello, {{ username }}. This is your profile :).</h6>
	{% else %}
	  <h6>Welcome to {{ user_profile.user }}'s profile.</h6>
	{% endif %}
	<hr>

	<img src="/media/{{ user_profile.profile_pic }}">
	<h3>Username: {{ user_profile.user }}</h3>
	<h4>Website: <a href="{{ user_profile.website }}">{{ user_profile.website }}</a></h4>
	<h4>Favorite Videos</h4>
	{% for video in video_favorites %}
	  <a href="/videos/play/{{ video.id }}/{{ video.title_slug }}"><p>{{ video.title }}</p></a>
	{% endfor %}

	<h4>Playlists</h4>
	{% for playlist in video_playlists %}
	  <a href="/videos/playlist/{{ playlist.id }}/{{ playlist.title_slug }}"><p>{{ playlist.title }}</p></a>
	{% endfor %}

{% endblock %}