{% extends "base.html" %}

{% block title %}
<title>{{ username }}'s profile</title>
{% endblock %}

{% block main_content %}

	{% if user_owns_profile %}
	  <h6>Hello, {{ username }}. This is your profile :).</h6>
	{% else %}
	  <h6>Welcome to {{ profile.user }}'s profile.</h6>
	{% endif %}
	<hr>

	<img src="/media/{{ profile.profile_pic }}">
	<h3>Username: {{ profile.user }}</h3>
	<h4>Website: <a href="{{ profile.website }}">{{ profile.website }}</a></h4>
	<h4>Bookmarked Videos</h4>
	{% for video in video_bookmarks %}
	  <a href="/videos/play/{{ video.id }}/"><p>{{ video.title }}</p></a>
	{% endfor %}

	<h4>Playlists</h4>
	{% for playlist in playlists %}
	  <p>{{ playlist.title }}</p>
	{% endfor %}

{% endblock %}