{% extends "base.html" %}
{% block title %}
	<title>Search Results</title>
{% endblock %}

{% block main_content %}
  <div class="container">

	{% if query != '' %}
	  <p>Found {{ videos|length }} video{{ videos|pluralize }} for: {{ query }}</p>

      {% for video in videos %}
      {% if video.converted %}
      <div class="span2">
          <h3>{{ video.title }}</h3>

        <div class="slideshow" width="125">
            <div class="slides pics" style="position: relative; ">   
              {% for thumb in video.thumbs_list %}                
                  <img src="/media/videos/thumbs/{{ video.id }}/{{ thumb }}" rel="/videos/play/{{ video.id }}" width="125" height="125" style="position: absolute; top: 0px; left: 0px; width: 125px; height: 125px; z-index: 8; opacity: 0; display: none; ">
              {% endfor %}
            </div>
        </div>

          <a href="/videos/play/{{ video.id }}">Play</a>
      </div>
      {% endif %}
      {% endfor %}

	{% endif %}

  </div>
{% endblock %}


{% block extra_javascript %}
{# jquery cycle - video thumbnail cycling #}
  <script type="text/javascript" src="http://malsup.github.com/jquery.cycle.all.js"></script>
  <script type="text/javascript">
  $(".slideshow").each(function() {
      $(this).find(".slides").cycle({
          fx:     'fade',
          speed:   .3,
          timeout: 280,
          next:   '#next',
          prev:   '#prev'
      }).cycle("pause").end().hover(
          function() { $(this).find('.slides').cycle('resume'); },
          function() { $(this).find('.slides').cycle('pause'); }
      );
  });
  </script>
{# enable relative video link (on click) to video thumbnail slideshow #}
  <script type="text/javascript">
     jQuery('.slides img').click(function (){
        document.location.href = jQuery(this).attr('rel');
      }).css('cursor', 'pointer');

  </script>
{% endblock %}
