{% extends "base.html" %}
{% block title %}<title>Videos</title>{% endblock %}

{% block extra_styles %}

{% endblock %}

{% block main_content %}

<center><h2>Videos</h2></center><hr>

<div class="container">
	{% for video in videos %}
		{% if video.converted %}
			<div class="span2">
				<div class="slideshow" width="125">
				    <div class="slides pics" style="position: relative; ">   
				    	{% for thumb in video.thumbs_list %}                
				        	<img src="/media/videos/thumbs/{{ video.id }}/{{ thumb }}" rel="/videos/play/{{ video.id }}/{{ video.title_slug }}" width="125" height="125" style="position: absolute; top: 0px; left: 0px; width: 125px; height: 125px; z-index: 8; opacity: 0; display: none; ">
				      	{% endfor %}
				    </div>
				</div>
				<a href="/videos/play/{{ video.id }}/"><h4>{{ video.title }}</h4></a>
			</div>
		{% endif %}
	{% endfor %}
</div>

{% endblock %}

{% block extra_javascript %}

<script type="text/javascript" src="http://malsup.github.com/jquery.cycle.all.js"></script>
<script type="text/javascript">
// jquery cycle - video thumbnail cycling
$(".slideshow").each(function() {
	$(this).find(".slides").cycle({
	    fx:     'fade',
	    speed:   .3,
	    timeout: 280,
	    next:   '#next',
	    prev:   '#prev'
	}).cycle("pause").end().hover(
	    function() { $(this).find('.slides').cycle('resume'); },
	    function() { $(this).find('.slides').cycle('pause'); }
	);
});

// enable relative video link (on click) on video thumbnail slideshow
$('.slides img').click(function (){
	document.location.href = $(this).attr('rel');
}).css('cursor', 'pointer');
</script>

{% endblock %}
