{% extends "base.html" %}
{% load voting_tags %} 

{% block title %}<title>{{ video.title }}</title>{% endblock %}

{% block main_content %}
<div class="container">
<div class="row-fluid">
    <div class="span6">     
        <h1 class="video-title">{{ video.title }}</h1>
	    {% if video.converted %} {# If video is converted #}
    	  <!-- PLAYER -->
        <div id='player'></div>
          <script type='text/javascript' src='https://s3.amazonaws.com/elementalmp/jwplayer/jwplayer.js'></script>
          <script type='text/javascript'>
              jwplayer('player').setup({
                      'flashplayer': 'https://s3.amazonaws.com/elementalmp/jwplayer/player.swf',
                      'width': '400',
                      'height': '300',
                      'file': '/media/videos/flv/{{ video.id }}.flv',
                      'provider': 'http'

              });
          </script><!-- /PLAYER -->

    		{% if request.user.is_authenticated %} {# If user is logged in #}
          <div class="video-options well" class="span12">
            <ul class="nav nav-tabs">
              <li><a href="#videoOptionsArea" data-toggle="tab">Video Options</a></li>
              <li><a href="#playlistFormArea" data-toggle="tab">Add to Playlist</a></li>
            </ul>

            <div class="tab-content">

            <div id="videoOptionsArea" class="tab-pane active">
              <!-- Django-voting like/dislike buttons -->
              <button class="btn btn-success vote-btn like-btn" value="up"><i class="icon-thumbs-up"></i>Like</button>
              <button class="btn btn-danger vote-btn dislike-btn" value="down"><i class="icon-thumbs-down"></i></button>
              {% score_for_object video as score %}
              {{ score.score }} point{{ score.score|pluralize }} after {{ score.num_votes }} vote{{ score.num_votes|pluralize }}



              <!-- Django-voting like/dislike -->
              <!-- AJAXified video favoriting/unfavoriting form -->
          		<form id="favoriteForm" class="form-inline"  action="/videos/favorite/" method="post">
          		    {% csrf_token %}
          		    <input id="video_id" name="video_id" type="hidden" value="{{ video.id }}"/>
                  {% if user_favorited %}
          		      <input class="btn-primary btn-small" id="favoriteButton" name="favoriteButton" type="submit" value="Remove from Favorites"/>
                  {% else %}
                      <input class="btn-primary btn-small" id="favoriteButton" name="favoriteButton" type="submit" value="Add to Favorites"/>
                  {% endif %}
          		</form><!-- /AJAX video favoriting/unfavoriting form -->
            </div>

            <div id="playlistFormArea" class="tab-pane">
              <!-- AJAXified add/remove to playlist form -->
              <form id="playlistForm" class="form-inline" action="/videos/playlist/add/" method="POST">
                {% csrf_token %}
                <input id="video_id" type="hidden" value="{{ video.id }}"/>
                <select  class="input-medium" id="playlist_id">
                  <option value="new_playlist">New Playlist</option>
                  {% for playlist in user_playlists %}
                    <option value="{{ playlist.id }}">{{ playlist.title }}</option>
                  {% endfor %}
                  </select>
                <input class="btn-primary btn-small" id="playlistButton" name="playlistButton" type="submit" value="Add to Playlist"/>
              </form> <!-- /AJAXified add/remove to playlist form -->

              <form id="createPlaylistForm" class="form-inline" action="/videos/playlist/create/" method="POST">
                {% csrf_token %}
                <input type="text" id="title" name="title" class="input-medium"/>
                <input class="btn btn-primary btn-small" type="submit" value="Create"/>
              </form>

            </div>
          </div>
          </div><!-- end tabbed video options area -->

        {% else %}  {# User isn't logged in #}
          <p>
            <a href="/accounts/login/">Login</a> or <a href="/accounts/register">Register</a> to favorite this video!
          </p>
        {% endif %}

	  {% else %} {# Video isn't converted yet #}
		  <h3>Video is still converting</h3>
		  <p>{{ video.title }} is still converting, please refresh later</p>
	  {% endif %}
  </div> <!-- end player column -->

  <div class="span4"><!-- Video information column -->
    <dl>
        <dt>Uploaded by</dt><dd><a href="/profiles/{{ video.uploader }}">{{ video.uploader }}</a> on {{ video.upload_datetime }}</dd>
        <dt>Views</dt><dd>{{ video.views }}</dd>
        <dt>Favorites</dt><dd>{{ video.num_favorites }}</dd>
        <dt>Length</dt><dd>{{ video.length.1 }} minutes, {{ video.length_list.2 }} seconds</dd>
        <dt>Description</dt><dd>{{ video.description }}</dd>
        <dt>Tags</dt><dd>{% for tag in video_tags %} <a href="/tag/{{ tag.id }}">{{ tag.name }}</a>, {% endfor %}</dd>
    </dl>
  </div> <!-- end video information column -->

</div>
</div>
{% endblock %}

{% block extra_javascript %}
<script type="text/javascript">flowplayer("player", "http://releases.flowplayer.org/swf/flowplayer-3.2.11.swf");</script>

<script type="text/javascript" src="/static/js/csrfPass.js"></script>

<script type="text/javascript" src="/static/videos/js/videoFavoriting.js"></script>

<script type="text/javascript" src="/static/videos/js/videoPlaylists.js"></script>

<script type="text/javascript" src="/static/videos/js/videoVoting.js"></script>

<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
{% endblock %}
