{% extends "base.html" %}
{% block title %}<title>Videos</title>{% endblock %}

{% block main_content %}
<center><h2>Videos</h2></center>

<div class="container">
	{% for video in videos %}
		{% if video.converted %}
			<div class="span2">
				<div class="slideshow" width="125">
				    <div class="slides pics" style="position: relative; ">   
				    	{% for thumb in video.thumbs_list %}                
				        	<img src="/media/videos/thumbs/{{ video.id }}/{{ thumb }}" rel="/videos/play/{{ video.id }}/{{ video.title_slug }}" width="125" height="125" style="position: absolute; top: 0px; left: 0px; width: 125px; height: 125px; z-index: 8; opacity: 0; display: none; ">
				      	{% endfor %}
				    </div>
				</div>
				<a href="/videos/play/{{ video.id }}/"><h4>{{ video.title }}</h4></a>
			</div>
		{% endif %}
	{% endfor %}
</div>
{% endblock %}

{% block extra_javascript %}

<script type="text/javascript" src="http://malsup.github.com/jquery.cycle.all.js"></script>
<script type="text/javascript" src="/static/videos/js/videoThumbsCycle.js"></script>


{% endblock %}
