{% extends "base.html" %}

{% block main_content %}

	<h4>Video Page - Placeholder</h4>
	<hr>
	<h3>{{ video.title }}</h3>
	<p>Description: {{ video.description }}</p>
	<p>Uploader: {{ video.uploader }}</p>

	{% if video.converted %}
		<!-- PLAYER -->
		<a href="http://127.0.0.1:8000/media/videos/flv/{{ video.id }}.flv"
		   style="display:block;width:425px;height:300px;"
		   id="player">
		</a>
		<!-- /PLAYER -->
		{# Video favoriting/unfavorint AJAXified form #}
		{# TODO: still show favorite button to guest users, but don't use either of below forms, instead alert or redirect user to signup #}
		{% if request.user.is_authenticated %}
			{% if user_favorited %}
				<form id="favoriteForm" action="/videos/favorite/" method="post">
					{% csrf_token %}
					<input id="video_id" name="video_id" type="hidden" value="{{ video.id }}"/>
					<input id="favoriteButton" name="favoriteButton" type="submit" value="Remove from Favorites"/>
				</form>
			{% else %}
				<form id="favoriteForm" action="/videos/favorite/" method="post">
					{% csrf_token %}
					<input id="video_id" name="video_id" type="hidden" value="{{ video.id }}"/>
					<input id="favoriteButton" name="favoriteButton" type="submit" value="Add to Favorites"/>
				</form>
			{% endif %}
		{% endif %}			
	

	{% else %}
		<h3>Video is still converting</h3>
		<p>{{ video.title }} is still converting, please refresh later</p>
	{% endif %}


{% endblock %}

{% block extra_javascript %}
{# Flowplayer js #}
<script language="JavaScript">
	flowplayer("player", "http://releases.flowplayer.org/swf/flowplayer-3.2.11.swf");
</script>
{# AJAX code for Add/Remove Favorite video button #}
<script>
$(document).ready(function() {
    $("#favoriteForm").submit(function(event){
        event.preventDefault();
        $.ajax({
            type:"POST",
            url:"/videos/favorite/",
            data: {
            	'video_id': $("#video_id").val(),
            	'fav_type': $("#favoriteButton").val()
            },
            success: function(data){
            	if(data == 'Added') {
            		$("#favoriteButton").prop('value', 'Added!');
            	} else {
            		$("#favoriteButton").prop('value', 'Removed!')
            	}
            }
        });
    });
    return false;
});
/*
$.ajax({
  url: '/videos/favorite/',
  type: 'POST',
  data: {
  	param1: 'value1'
  },
  complete: function(xhr, textStatus) {
    //called when complete
  },
  success: function(data, textStatus, xhr) {
    //called when successful
  },
  error: function(xhr, textStatus, errorThrown) {
    //called when there is an error
  }
});
*/
</script>
{% endblock %}