{% extends "base.html" %}
{% block title %}<title>{{ video.title }}</title>{% endblock %}
{% block main_content %}

	<h1>{{ video.title }}</h1>
	<hr>
	{% if video.converted %} {# If video is converted #}
		<!-- PLAYER -->
		<a href="http://127.0.0.1:8000/media/videos/flv/{{ video.id }}.flv" style="display:block;width:425px;height:300px;" id="player">
        </a><!-- /PLAYER -->
		{% if request.user.is_authenticated %} {# If user is logged in #}
            <!-- AJAXified video favoriting/unfavoriting form -->
			<form id="favoriteForm" action="/videos/favorite/" method="post">
				{% csrf_token %}
				  <input id="video_id" name="video_id" type="hidden" value="{{ video.id }}"/>
                {% if user_favorited %}
				  <input id="favoriteButton" name="favoriteButton" type="submit" value="Remove from Favorites"/>
                {% else %}
                  <input id="favoriteButton" name="favoriteButton" type="submit" value="Add to Favorites"/>
                {% endif %}
			</form><!-- /AJAX video favoriting/unfavoriting form -->
        {% else %} {# A user isn't logged in #}
            <p><a href="/accounts/login/">Login</a> or <a href="/accounts/register">Register</a> to favorite this video!</p>
        {% endif %} 

	{% else %} {# Video isn't converted yet #}
		<h3>Video is still converting</h3>
		<p>{{ video.title }} is still converting, please refresh later</p>
	{% endif %}

    <!-- Video information -->
    <p>Uploaded by <a href="/profiles/{{ video.uploader }}">{{ video.uploader }}</a> on {{ video.upload_datetime }}</p>
    <p>Views: {{ video.views }}</p>
    <p>Favorited by: {{ video.num_favorites }}</p>
    <p>Length: {{ video.length }}</p>
    <p>Description: {{ video.description }}</p>

    <p>Tags: {% for tag in tags %} {{ tag.name }}, {% endfor %}


{% endblock %}

{% block extra_javascript %}
{# Flowplayer js #}
<script language="JavaScript">
flowplayer("player", "http://releases.flowplayer.org/swf/flowplayer-3.2.11.swf");
</script>

{# Required for csrf not to break AJAX requests #}
<script type="text/javascript">
jQuery(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});
</script>
{# AJAX code for Add/Remove Favorite video button #}
<script>
$(document).ready(function() {
    $("#favoriteForm").submit(function(event){
        event.preventDefault();
        $.ajax({
            type:"POST",
            url:"/videos/favorite/",
            data: {
            	'video_id': $("#video_id").val(),
            	'fav_type': $("#favoriteButton").val()
            },
            success: function(data){
            	if(data == 'Added') {
            		$("#favoriteButton").prop('value', 'Remove from Favorites');
            	} else {
            		$("#favoriteButton").prop('value', 'Add to Favorites')
		}
            }
        });
    });
    return false;
});
</script>
{% endblock %}
