{% extends "base.html" %}
{% block title %}<title>Videos</title>{% endblock %}

{% block extra_styles %}

{% endblock %}

{% block main_content %}

	<h4>Videos - Placeholder</h4>
	<hr>
	{% for video in videos %}
	<div class="span4">
	    <h3>{{ video.title }}</h3>

		<div class="slideshow" width="320">
		    <div class="slides pics" style="position: relative; ">   
		      {% for thumb in video.thumbs_list %}                        
		        <img src="/media/videos/thumbs/{{ video.id }}/{{ thumb }}" width="320" height="240" style="position: absolute; top: 0px; left: 0px; width: 320px; height: 240px; z-index: 8; opacity: 0; display: none; "> 
		      {% endfor %}
		    </div>
		</div>

	    <a href="/videos/play/{{ video.id }}">Play</a>
	</div>
	{% endfor %}

{% endblock %}

{% block extra_javascript %}
{# jquery cycle - video thumbnail cycling #}
	<script type="text/javascript" src="http://malsup.github.com/jquery.cycle.all.js"></script>

	<script type="text/javascript">
	$(function() {
	    $('.slideshow').hover(
	        function() { $('.slides').cycle('resume'); },
	        function() { $('.slides').cycle('pause'); }
	    );
	    
	    $('.slides').cycle({
	        fx:     'fade',
	        speed:   .3,
	        timeout: 280,
	        next:   '#next',
	        prev:   '#prev'
	    }).cycle("pause");
	});
	</script>
{% endblock %}
